@font-face {
    font-family: 'Poiret';
    src: url('PoiretOne-Regular.ttf');
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #eee;
  overflow: hidden;
  font-family: Poiret;
}

.container {
  height: 100%;
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}

img {
  max-width: 250px;
  max-height: 250px;
  border-radius: 100%;
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

p > a {
  font-weight: bold;
}


h1 {
  font-size: 46px;
  margin: 10px 0;
}

p {
  font-size: 26px;
  margin: 10px 10%;
  margin-bottom: 0;
  width: 80%;
}

.cv-text {
  font-size: 22px;
  margin-bottom: 15px;
}


.social {
   width:100%;
}
ul {
  font-size: 36px;
  float:left;
  padding:0;
  margin: 0;
  margin-top: 5px;
  position:relative;
  left:50%;
}
li {
   display:block;
   float:left;
   list-style:none;
   position:relative;
   right:50%;
   padding:3px 10px;
}

a {
  text-decoration: none;
  color: black;
}
